:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-bottom: 1em;
  text-align: center;
}

.editor-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#editor {
  flex: 1;
}

#editor-preview {
  flex: 1;
  border-left: 1px solid #e5e5e5;
  padding-left: 0.5rem;
}

.cm-preview-spacer {
  background-color: aqua;
}

.cm-editor {
  font-size: 14px;
}

.cm-focused {
  outline: none;
}